<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />
<title>{% block title %}店铺后台{% endblock %}</title>

<link rel="stylesheet" href="{{url_for('static',filename='ydui/css/ydui.css')}}" />

<script type="text/javascript" src="{{url_for('static',filename='ydui/js/ydui.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='ydui/js/ydui.flexible.js')}}"></script>

</head>

<body>
<div class="container">

{% block body %}
{%for message in get_flashed_messages()%}
  
<div class="panel panel-dangir text-center">
    <div class="panel-heading">
        <h1 class="panel-title">
            禁止访问
        </h1>
    </div>
    <div class="panel-body">
        <h1>{{message}}</h1>   
    </div>
</div>
{%endfor%}

<a href="javascript:history.back(-1)" class="btn btn-primary btn-lg btn-block">返回上一页</a>
{% endblock %}


</div>




</body>
</html>
