{%extends 'store/base.html'%}
{% block title %} 添加货位 {%endblock%}
{% block body %} 

<form action="" method="post">

{{ form.hidden_tag() }}
 
<div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
        {{ form.name(class='cell-input',placeholder="货位名称") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.sort(class='cell-input',placeholder="排序") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.note(class='cell-input',placeholder="备注") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.warehouse(class='cell-input',placeholder="仓库") }} 
        </div>
    </div>

    
</div>
    
  <input type="submit" class="btn-block btn-warning" value="创建">
   

</form>


{%endblock%}

