{%extends 'store/base.html'%}
{% block title %} 添加仓库 {%endblock%}
{% block body %} 

<form action="" method="post">

{{ form.hidden_tag() }}
 
<div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
        {{ form.name(class='cell-input',placeholder="仓库名称") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.state(class='cell-input',placeholder="仓库状态") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.nickname(class='cell-input',placeholder="仓库别名") }} 
        </div>
    </div>
    
    
</div>
    
  <input type="submit" class="btn-block btn-warning" value="创建">
   

</form>


{%endblock%}

    

      






