{%extends 'store/base.html'%}
{% block title %} 商品管理 {%endblock%}
{% block body %} 
<style type="text/css">
    .g-view:before {
    display: block;
     height: .0rem; 
}

</style>

<div class="cell-item goodsListTitle_search" id="goodsListTitle_search" style="background-color: #FFF;">
    
<div class="cell-right"><img src="{{url_for('static',filename='images/search.png')}}" width="30" height="30"><input type="text" class="cell-input" placeholder="请输入要搜索的商品名称" id="search_title"></div>
</div>
<div id="word"></div>


<div class="g-view">



<article class="m-list list-theme3">
  {%for i in goodsed%}
  <a href="javascript:;" class="list-item" id="p{{i.id}}">
      <div class="list-img">
          <img src="{{url_for('public.get_image',filename=i.main_photo)}}">
      </div>
      <div class="list-mes">
          <h3 class="list-title">{{i.title}}</h3>
          <div class="list-mes-item">
              <div>
                  <!-- <span class="list-price">,</span> -->
                  <span class="list-del-price">销售价:￥{{i.original_price}}</span>
              </div>
              <div>进货价:￥{{i.special_price}}</div>
          </div>
      </div>
  </a>
  {%endfor%}
  
</article>
</div>

<footer class="m-tabbar tabbar-fixed">
    <a href="{{url_for('store.commodity_data')}}" class="tabbar-item">
        <span class="tabbar-icon">
            <img src="{{url_for('static',filename='images/ydui05.png')}}">
        </span>
        <span class="tabbar-txt">添加</span>
    </a>
    
    <a href="{{url_for('store.toexcel_commodity_data')}}" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="icon-share2"></i>
        </span>
        <span class="tabbar-txt">导出</span>
    </a>
</footer>


<script type="text/javascript">
  
  $('#search_title').keyup(function(){
        var keywords = $(this).val();
        if (keywords=='') { $('#word').hide(); return };

        $.ajax({

            url: "{{url_for('public.get_store_product',_external=True)}}?wd="+keywords+'|'+{{goodsed[0].sellers_id}},
            dataType: 'json',
            jsonp: 'cb', //回调函数的参数名(键值)key
            // jsonpCallback: 'fun', //回调函数名(值) value
            beforeSend:function(){
                $('#word').append('<div>正在加载。。。</div>');
            },
            success:function(data){
                $('#word').empty().show();
                $.each(data.cb, function(){
                    $('#word').append('<a class="click_work" href="#p'+this.id+'"><div style="width:100%;">'+this.title +'</div></a>');
                });
            },
            error:function(){
                $('#word').empty().show();
                $('#word').append('<div class="click_work">Fail "' + keywords + '"</div>');
            }
        })
    })
  $(document).on('click','.click_work',function(){
    $('#word').hide();
    // document.getElementById('goodsListTitle').style.display = 'block';
        // document.getElementById('goodsListTitle_search').style.display = 'none';
    $('#search_title').val('');
  });


</script>
<style type="text/css">
.scrolltab-nav{z-index: 0;}
#word{
        position: absolute;
        z-index: 99;
        width: 100%;
        height: auto;
        background-color: white;
        border: black solid 1px;
        display: none;
        line-height: 40px;
    }
</style>
 {%endblock%}


