{{ ckeditor.load() }}
{%extends 'store/base.html'%}
{% block title %} 添加商品基础数据 {%endblock%}
{% block body %} 
<style type="text/css">
    
    #word{
        position: absolute;
        z-index: 99;
        width: 100%;
        height: auto;
        background-color: white;
        border: black solid 1px;
        display: none;
        line-height: 40px;
    }

</style>

<form action="{{url_for('store.commodity_data_post')}}" method="post" enctype="multipart/form-data">

{{ form.hidden_tag() }}

<input type="hidden" id="hidden_id" name='hidden_id' value="">

<div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
        {{ form.title(class='cell-input title',placeholder="商品标题") }} 
        </div>
        
    </div>
<div id="word"></div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.ean(class='cell-input',placeholder="商品条码") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.unit(class='cell-input',placeholder="商品规格") }} 
        </div>
    </div>

    <div class="cell-item">
        <div class="cell-right">
        {{ form.original_price(class='cell-input',placeholder="销售价") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.special_price(class='cell-input',placeholder="进货价") }} 
        </div>
    </div>
    <div class="m-cell">
        <label class="cell-item">
            <span class="cell-left">{{form.is_sell.label()}}</span>
            <label class="cell-right">
                <input type="checkbox" class="m-switch">
                {{form.is_sell(id='m-switch')}}
            </label>
        </label>
    </div>
    <div class="m-cell">
        <label class="cell-item">
            <span class="cell-left">{{form.hot.label()}}</span>
            <label class="cell-right">
                <input type="checkbox" class="m-switch">
                {{form.hot(id='m-switch')}}
            </label>
        </label>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.category(class='cell-input',placeholder="栏目分类") }} 
        </div>
    </div>

    <div class="cell-item">
    <span class="cell-left">缩略图</span>
    <div class="cell-right">

        <label for="is_sell"></label><input type="file" name="image" id="" style="width:70%" id="main_photo">

        </div>
    </div>

    <div class="m-celltitle">{{ form.note.label }}</div>
{{ form.note() }}
    {{ ckeditor.config(name='note',width='100%',custom_config='id="note"') }}

    



</div>


<footer class="m-tabbar">
    <button type="submit" class="btn-block btn-danger">添加</button>
</footer>


</form>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript">
 $(function(){
//当键盘键被松开时发送Ajax获取数据
    $('#title').keyup(function(){
        var keywords = $(this).val();
        if (keywords=='') { $('#word').hide(); return };

        $.ajax({

            url: "{{url_for('store.get_base_product',_external=True)}}?wd="+keywords,
            dataType: 'json',
            jsonp: 'cb', //回调函数的参数名(键值)key
            // jsonpCallback: 'fun', //回调函数名(值) value
            beforeSend:function(){
                $('#word').append('<div>正在加载。。。</div>');
            },
            success:function(data){
                $('#word').empty().show();
                $.each(data.cb, function(){
                    $('#word').append('<div class="click_work">'+ this.id+'|'+this.title +'</div>');
                });
            },
            error:function(){
                $('#word').empty().show();
                $('#word').append('<div class="click_work">Fail "' + keywords + '"</div>');
            }
        })
    })
//点击搜索数据复制给搜索框
    $(document).on('click','.click_work',function(){
        var word = $(this).text();
        $('#title').val(word);
        $('#word').hide();
        // $('#texe').trigger('click');触发搜索事件

        $.ajax({
            url: "{{url_for('store.get_base_product_one',_external=True)}}?wd="+word,
            dataType: 'json',
            jsonp: 'pr', //回调函数的参数名(键值)key
            // jsonpCallback: 'fun', //回调函数名(值) value
            beforeSend:function(){
                $('#word').append('<div>正在加载。。。</div>');
            },
            success:function(data){
                $('#title').val(data.pr.title);
                $('#ean').val(data.pr.ean);
                $('#unit').val(data.pr.unit);
                $('#original_price').val(data.pr.original_price);
                $('#special_price').val(data.pr.special_price);
                $('#main_photo').val(data.pr.main_photo);
                $('#note').val(data.pr.note);
                $('#hidden_id').val(data.pr.id);

            },
            error:function(){
                $('#word').empty().show();
                $('#word').append('<div class="click_work">Fail "' + word + '"</div>');
            }

        })
    })


})   

</script>
{%endblock%}





