{{ ckeditor.load() }}
{%extends 'store/base.html'%}
{% block title %} 添加商品基础数据 {%endblock%}
{% block body %} 
<form action="" method="post">

{{ form.hidden_tag() }}


<div  class="Release_top">

  <!-- <input class="ReleaseBtn" type="file" onchange="changed" style="color: transparent;"> -->

</div>

<div class="Release_list_box">
   

    <a href="#">{{ form.title.label }} {{ form.title() }}</a>

    <a href="#">{{ form.ean.label }} {{ form.ean() }}</a>

    <a href="#">{{ form.unit.label }} {{ form.unit() }}</a>

    <a href="#">{{ form.original_price.label }} {{ form.original_price() }}</a>

    <a href="#">{{ form.special_price.label }} {{ form.special_price() }}</a>

    <a href="#">{{ form.is_sell.label }} {{ form.is_sell() }}</a>

    <a href="#">{{ form.hot.label }} {{ form.hot() }}</a>

    <a href="#">{{ form.category.label }} {{ form.category() }}</a>

    <a href="#"><label for="is_sell">缩略图</label><input type="file" name="" id="" style="width:70%"></a>

    <a href="#">{{ form.note.label }} {{ form.note() }}</a>
  
         {{ ckeditor.config(name='note',width='100%') }}

</div>

<div class="blank4"></div>
<!--按钮-->
<div class="operationBox">
  
    <input class="goBuyBtn" type="button" value="放入仓库" onclick="window.location = '#'">
    <input class="goShoppingcartBtn" type="submit" value="立即发布">
 
</div>


</form>
{%endblock%}





