{%extends 'store/base.html'%}
{% block title %} 商品管理 {%endblock%}
{% block body %} 


<article class="m-list list-theme3">
  {%for i in goodsed%}
  <a href="javascript:;" class="list-item">
      <div class="list-img">
          <img src="{{url_for('public.get_image',filename=i.main_photo)}}">
      </div>
      <div class="list-mes">
          <h3 class="list-title">{{i.title}}</h3>
          <div class="list-mes-item">
              <div>
                  <!-- <span class="list-price">,</span> -->
                  <span class="list-del-price">销售价:￥{{i.original_price}}</span>
              </div>
              <div>进货价:￥{{i.special_price}}</div>
          </div>
      </div>
  </a>
  {%endfor%}
  
</article>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<footer class="m-tabbar tabbar-fixed">
    <a href="{{url_for('store.commodity_data')}}" class="tabbar-item">
        <span class="tabbar-icon">
            <img src="{{url_for('static',filename='images/ydui05.png')}}">
        </span>
        <span class="tabbar-txt">添加</span>
    </a>
    
    <a href="{{url_for('store.toexcel_commodity_data')}}" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="icon-share2"></i>
        </span>
        <span class="tabbar-txt">导出</span>
    </a>
</footer>

 {%endblock%}


