{%extends 'store/base.html'%}
{% block title %} 创建店铺 {%endblock%}
{% block body %} 

<form action="" method="post">

{{ form.hidden_tag() }}

<div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
        {{ form.name(class='cell-input',placeholder="店铺名称") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.address(class='cell-input',placeholder="地址") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.note(class='cell-input',placeholder="备注") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.contact(class='cell-input',placeholder="联系方式") }} 
        </div>
    </div>

    
</div>
    
  <input type="submit" class="btn-block btn-warning" value="申请">
   

</form>


{%endblock%}


</body>
</html>