{%extends 'store/base.html'%}

{% block title %}后台主页{% endblock %}
{% block body %}

<style type="text/css">
    i{font-size:28px;}
</style>


<div class="m-grids-3">
    <a href="{{url_for('store.show_stock')}}" class="grids-item" >
        <div class="grids-icon"><i class="icon-feedback"></i></div>
        <div class="grids-txt"><span>进货数据</span></div>
    </a>
    <a href="{{url_for('store.sell')}}" class="grids-item">
        <div class="grids-icon"><img src="{{url_for('static',filename='images/ydui15.png')}}"></div>
        <div class="grids-txt"><span>出货数据</span></div>
    </a>
    <a href="{{url_for('store.inventory')}}" class="grids-item">
        <div class="grids-icon"> <img src="{{url_for('static',filename='images/ydui01.png')}}"> </div>
        <div class="grids-txt"><span>库存管理</span></div>
    </a>
    <a href="{{url_for('store.location_management')}}" class="grids-item">
        <div class="grids-icon"> <img src="{{url_for('static',filename='images/ydui02.png')}}"> </div>
        <div class="grids-txt"><span>货位管理</span></div>
    </a>

    <a href="{{url_for('store.commodity_management')}}" class="grids-item">
        <div class="grids-icon"> <i class="icon-discount"></i> </div>
        <div class="grids-txt"><span>商品管理</span></div>
    </a>

    <!-- <a href="{{url_for('store.follow')}}" class="grids-item"> -->
    <a href="#" class="grids-item">
        <div class="grids-icon" style="font-size:28px;"><img src="{{url_for('static',filename='images/ydui14.png')}}"></div>
        <div class="grids-txt"><span>数据信息</span></div>
        <!-- <div class="grids-txt"><span>关注我的</span></div> -->
    </a>

    <a href="{{url_for('store.setting_store')}}" class="grids-item">
        <div class="grids-icon"><i class="icon-setting"></i> </div>
        <div class="grids-txt"><span>店铺设置</span></div>
    </a>

    <a href="#" class="grids-item">
        <div class="grids-icon" style="font-size:28px;"><img src="{{url_for('static',filename='images/ydui13.png')}}"></div>
        <div class="grids-txt"><span>经营数据</span></div>
    </a>

    <a href="{{url_for('store.service_store')}}" class="grids-item">
        <div class="grids-icon" style="font-size:28px;"><img src="{{url_for('static',filename='images/ydui04.png')}}"></div>
        <div class="grids-txt"><span>商家服务</span></div>
    </a>
    

</div>

  



<img src="{{imgstr}}" width="300" height="300" style="margin:0px auto;">
<!-- <h1>我的关注地址：{{request.url}}guanzhu/{{current_user.seller_id[0].id}}  <br> -->
	<!-- 没有店铺 <a href="{{url_for('store.create_store')}}">申请</a> -->

{% endblock %}



