{%extends 'store/base.html'%}
{% block title %} 库存 {%endblock%}
{% block body %} 

<!--宝贝管理-->
<div class="Order_list">
	<!--出售中-->
  	<div class="tabconent">
  		{%for i in kucun%}
    	<dl>
	      	<dt><img src="{{url_for('public.get_thumbnail',filename=i.goodsed.main_photo)}}"></dt>
	      	<dd><a href="#">{{i.goodsed.title}}</a>
	      	<span>数量：{{i.count}},货位：{{i.goods_allocation.name}} </span>
	        <!-- <p><font>商品编号：{{i.id}}</font> <font>是否出售：{{i.is_sell}} </font></p> -->
      		</dd>
    	</dl>
    	{%endfor%}

    	
    
    
    
  </div>
  
</div>

<!-- end -->


<div class="blank4"></div>
<!--按钮-->
<div class="Baby_Box">
  <input type="button" value="盘点" onclick="window.location = '{{url_for('store.quantity_check')}}'">
  <input type="button" value="导出数据" onclick="window.location = '#'" >
</div>


 {%endblock%}



