{%extends 'store/base.html'%}
{% block title %} 盘点列表 {%endblock%}
{% block body %} 

<article class="m-list list-theme4">
    {%for i in quantity%}
    <a href="{{url_for('store.show_quantity_check',id=i.id)}}" class="list-item">
        <div class="list-mes">
            
            <div class="list-mes-item">
                <h3 class="list-title">{{i.title}}</h3>
                <div>{{i.created_at}}</div>
            </div>
        </div>
    </a>
    {%endfor%}
</article>

<button type="button" class="btn-block btn-primary" onclick="window.location = '{{url_for('store.create_quantity_check')}}'">生成盘点表</button>



 {%endblock%}


