{%extends 'store/base.html'%}
{% block title %} 盘点列表{%endblock%}
{% block body %} 
<div class="Release_list_box">

    {%for i in quantity%}
    <a href="{{url_for('store.show_quantity_check',id=i.id)}}">
    <span>ID:{{i.id}}</span>
    <input class="input"  type="text" value="{{i.title}}">
    </a> 
    {%endfor%}

</div>

<div class="blank4"></div>

<!--按钮-->
<div class="operationBox">
  
    <input class="goBuyBtn" type="button" value="生成盘点表" onclick="window.location = '{{url_for('store.create_quantity_check')}}'"  style="width:100%">
    <!-- <input class="goShoppingcartBtn" type="button" value="导出数据" onclick="window.location = '{{url_for('store.toexcel_location')}}'"> -->
 
</div>


 {%endblock%}

