{%extends 'store/base.html'%}
{% block title %} 销售单列表 {%endblock%}
{% block body %} 
<style type="text/css">
    .g-view:before {
    display: block;
     height: .0rem; 
}
</style>
<div class="g-view">

        <article class="m-list list-theme4">
            {%for i in buy_users%}
            <a href="{{url_for('store.show_order',id=i.id)}}" class="list-item">                
                <div class="list-mes">
                    <h3 class="list-title">订单号：{{i.number}}</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price">共{{i.goods_number}}种商品</span>
                            <span class="list-price">金额¥{{i.pay_price}}</span>
                        </div>
                        <div>{{i.buy_time}}</div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </article>

</div>  






{%endblock%}


