{%extends 'store/base.html'%}
{% block title %} 商家服务 {%endblock%}
{% block body %} 
<div class="m-cell">
    <a class="cell-item" href="javascript:;">
        <div class="cell-left"><span class="cell-icon"><img src="{{url_for('static',filename='images/ydui09.png')}}" /></span>拒配地址</div>
        <div class="cell-right cell-arrow"></div>
    </a>

    <a class="cell-item" href="javascript:;">
        <div class="cell-left"><span class="cell-icon"><img src="{{url_for('static',filename='images/ydui12.png')}}" /></span>平台简介</div>
        <div class="cell-right cell-arrow"></div>
    </a>

    <a class="cell-item" href="javascript:;">
        <div class="cell-left"><span class="cell-icon"><img src="{{url_for('static',filename='images/ydui10.png')}}" /></span>使用介绍</div>
        <div class="cell-right cell-arrow"></div>
    </a>

    <a class="cell-item" href="javascript:;">
        <div class="cell-left"><span class="cell-icon"><img src="{{url_for('static',filename='images/ydui11.png')}}" /></span>服务条款</div>
        <div class="cell-right cell-arrow"></div>
    </a>

</div>


{%endblock%}

