{%extends 'store/base.html'%}
{% block title %} 进货单列表 {%endblock%}
{% block body %} 


<!--订单列表-->
<div class="dingdan_list"> 
  	
  	{%for i in all_stock%}
    <div style="border-bottom:1px solid red;margin-top:10px;line-height:20px;">
    <a href="{{url_for('store.show_receipt',id=i.id)}}">
    	<p><span>订单号：<font>{{i.number}},</font></span><span>共计{{i.variety}}种商品</span></p>
    	<p><span>创建时间：<font>{{i.buy_time}}</font></span><span>金额：¥{{i.price_sum}}</span></p>
    </a>
  	</div>
  	{%endfor%}

  	
  
</div>
<!--订单列表 end-->

<div class="operationBox">
  
    <!-- <input class="goBuyBtn" type="button" value="进货单模板" onclick="window.location = '{{url_for('store.toexcel_stock_template')}}'"> -->
    <input class="goShoppingcartBtn" type="submit" value="创建进货单" style="width:100%" onclick="window.location = '{{url_for('store.stock')}}'">
 
</div>

{%endblock%}

