{%extends 'store/base.html'%}
{% block title %} 出货单详情 {%endblock%}
{% block body %} 
<style type="text/css">
  body{background-color: white;}
</style>

<div class="m-cell">
    <div class="cell-item">
        <div class="cell-left">出货单号：</div>
        <div class="cell-right">{{ order.number }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">收货人姓名</div>
        <div class="cell-right">{{ order.receive_name }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">收货人电话</div>
        <div class="cell-right">{{ order.receive_phone }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">收货人地址</div>
        <div class="cell-right">{{ order.receive_address }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">下单时间</div>
        <div class="cell-right">{{ order.buy_time }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">支付金额</div>
        <div class="cell-right">{{ order.pay_price }}</div>
    </div>
    

    {%if order.note%}
    <div class="cell-item">
        <div class="cell-left">备注</div>
        <div class="cell-right">{{ order.note }}</div>
    </div>
    {%endif%}
</div>


<article class="m-list list-theme3">
    {%for i in order.sale_id%}
    <a href="javascript:;" class="list-item">
        <div class="list-img">
            {%if i.main_photo%}
            <img src="{{url_for('public.get_image',filename=i.main_photo)}}">
            {%else%}
            <img src="0">
            {%endif%}
        </div>
        <div class="list-mes">
            <h3 class="list-title">{{i.goods_title}}</h3>
            <div class="list-mes-item">
                <div>
                    <span class="list-title">数量:{{i.count}}</span>
                </div>
                <div>货位:{{i.goods_allocation_name}}</div>
            </div>
            <div class="list-mes-item">
                        <div>
                            <span class="list-title">销售价:{{i.original_price}}</span>
                        </div>
                        <!-- <div>进货价:{{i.special_price}}</div> -->
                    </div>
        </div>
    </a>
    {%endfor%}
</article>


 
{%if order.order_state==0%}
<div class="m-grids-2">
    <a href="#" class="grids-item">
       <button type="button" class="btn-block btn-warning" onclick="javascript:if(confirm('您要决绝送货到该地址吗?确定后用户将不能再用此地址进行下单购买。'))location='{{url_for('store.order_reject',id=order.id)}}'">拒绝送货</button>
    </a>
    <a href="#" class="grids-item">
       <button type="button" class="btn-block btn-danger" onclick="window.location = '{{url_for('store.order_confirm',id=order.id)}}'">开始送货</button>
    </a>
</div>

  {%endif%}

  {%if order.order_state==1%}
   <button type="button" class="btn-block btn-warning">订单已完成</button>
 {%endif%}

  {%if order.order_state==3%}
   <button type="button" class="btn-block btn-error">订单已关闭</button>
 {%endif%}
  

{%endblock%}

  


	

      