{%extends 'store/base.html'%}
{% block title %} 进货单列表 {%endblock%}
{% block body %} 


        <article class="m-list list-theme4">
            {%for i in all_stock%}
            <a href="{{url_for('store.show_receipt',id=i.id)}}" class="list-item">                
                <div class="list-mes">
                    <h3 class="list-title">订单号：{{i.number}}</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price">共{{i.variety}}种商品</span>
                            <span class="list-price">合计¥{{i.price_sum}}</span>
                        </div>
                        <div>{{i.buy_time}}</div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </article>
        <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<footer class="m-tabbar tabbar-fixed">
    <a href="{{url_for('store.stock')}}" class="tabbar-item">
        <span class="tabbar-icon">
            <img src="{{url_for('static',filename='images/ydui05.png')}}">
        </span>
        <span class="tabbar-txt">创建</span>
    </a>
    
    
</footer>





{%endblock%}

