{%extends 'store/base.html'%}
{% block title %} 进货单详情 {%endblock%}
{% block body %} 
<style type="text/css">
  body{background-color: white;}
</style>

<div class="m-cell">
    <div class="cell-item">
        <div class="cell-left">进货单号：</div>
        <div class="cell-right">{{ receipt.number }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">供应商</div>
        <div class="cell-right">{{ receipt.supplier }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">下单时间</div>
        <div class="cell-right">{{ receipt.buy_time }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">配送费</div>
        <div class="cell-right">{{ receipt.freight }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">支付金额</div>
        <div class="cell-right">{{ receipt.pay_price }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">支付类型</div>
        <div class="cell-right">{{ receipt.pay_type }}</div>
    </div>
    

    <div class="cell-item">
        <div class="cell-left">商品总数量</div>
        <div class="cell-right">{{ receipt.goods_sum }}</div>
    </div>
    <div class="cell-item">
        <div class="cell-left">总价</div>
        <div class="cell-right">{{ receipt.price_sum }}</div>
    </div>

    

    {%if receipt.note%}
    <div class="cell-item">
        <div class="cell-left">备注</div>
        <div class="cell-right">{{ receipt.note }}</div>
    </div>
    {%endif%}
</div>

<div class="g-view">
        <article class="m-list list-theme3">
            {%for i in receipt.stock_id%}
            <a href="javascript:;" class="list-item">
                <div class="list-img">
                    <img src="{{url_for('public.get_image',filename=i.main_photo)}}">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">{{i.goods_title}}</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-title">进货数量:{{i.stock_count}}</span>
                        </div>
                        <div>货位{{i.goods_allocation_name}}</div>
                    </div>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-title">销售价:{{i.original_price}}</span>
                        </div>
                        <div>进货价:{{i.special_price}}</div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </article>
</div>

<footer class="m-tabbar tabbar-fixed">
    {%if receipt.order_state==0%}
    <a href="{{url_for('store.receipt_add_goods',id=receipt.id)}}" class="tabbar-item">
        <span class="tabbar-icon">
            <img src="{{url_for('static',filename='images/ydui05.png')}}">
        </span>
        <span class="tabbar-txt">添加商品</span>
    </a>
    <a href="{{url_for('store.receipt_change',id=receipt.id)}}" class="tabbar-item">
        <span class="tabbar-icon">
            <img src="{{url_for('static',filename='images/ydui08.png')}}">
        </span>
        <span class="tabbar-txt">完成订单</span>
    </a>
    {%else%}
    <a href="#" class="tabbar-item">
        <span class="tabbar-icon">
            <img src="{{url_for('static',filename='images/ydui08.png')}}">
        </span>
        <span class="tabbar-txt">订单已完成</span>
    </a>

    {%endif%}
    
    
</footer>




{%endblock%}

	

      