{%extends 'store/base.html'%}
{% block title %} 进货数据 {%endblock%}
{% block body %} 
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='laydate/laydate.js')}}"></script>
<form action="{{url_for('store.add_stock')}}" method="post" enctype="multipart/form-data">

{{ form.hidden_tag() }}
 
<div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
        {{ form.supplier(class='cell-input',placeholder="请输入供应商名称") }} </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.buy_time(class='cell-input',placeholder="下单时间",id='buy_time') }} </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.send_time(class='cell-input',placeholder="送货时间",id='send_time') }} </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.freight(class='cell-input',placeholder="配送费") }} </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.discount(class='cell-input',placeholder="优惠金额") }} </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.pay_price(class='cell-input',placeholder="支付金额") }} </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.pay_time(class='cell-input',placeholder="支付时间",id='pay_time') }} </div>
    </div>
    <div class="cell-item">
      <div class="cell-left">支付方式: &nbsp;</div>
        <label class="cell-right cell-arrow">
        {{ form.pay_type(class="cell-select") }}
            
        </label>
    </div>
    <div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
          {{ form.note(class='cell-textarea',placeholder="备注") }}
        </div>
    </div>
</div>
    
  <input type="submit" class="btn-block btn-danger" value="创建">
   

</form>
<script type="text/javascript">
laydate.render({
  elem: '#buy_time' 
  ,type: 'datetime'
});
laydate.render({
  elem: '#send_time' 
  ,type: 'datetime'
});
laydate.render({
  elem: '#pay_time' 
  ,type: 'datetime'
});

</script>
{%endblock%}

	

      