{{ ckeditor.load() }}
{%extends 'store/base.html'%}
{% block title %} 进货数据 {%endblock%}
{% block body %} 
<form action="{{url_for('store.add_stock')}}" method="post" enctype="multipart/form-data">

{{ form.hidden_tag() }}
<div class="Release_list_box">


    <a href="#"> {{ form.supplier.label }} {{ form.supplier() }}  </a>
    <a href="#"> {{ form.buy_time.label }} {{ form.buy_time() }}  </a>
    <a href="#"> {{ form.send_time.label }} {{ form.send_time() }}  </a>
    <a href="#"> {{ form.freight.label }} {{ form.freight() }}  </a>
    <a href="#"> {{ form.discount.label }} {{ form.discount() }}  </a>
    <a href="#"> {{ form.pay_price.label }} {{ form.pay_price() }}  </a>
    <a href="#"> {{ form.pay_time.label }} {{ form.pay_time() }}  </a>
    <a href="#"> {{ form.pay_type.label }} {{ form.pay_type() }}  </a>
    <a href="#"> {{ form.note.label }} {{ form.note() }}  </a>
    <!-- <a href="#"> 进货单:<input type="file" name="excel" id="">  </a> -->
</div>

<div class="operationBox">
  
    <!-- <input class="goBuyBtn" type="button" value="进货单模板" onclick="window.location = '{{url_for('store.toexcel_stock_template')}}'"> -->
    <input class="goShoppingcartBtn" type="submit" value="创建" style="width:100%;">
 
</div>

</form>

{%endblock%}

	

      