{%extends 'superadmin/bt_base.html'%}

{% block title %}添加分类{% endblock %}
{% block body %}

<form role="form" action="" method="post">

{{ form.hidden_tag() }}

<div class="form-group">
  {{ form.name.label()}} 
   {{ form.name(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.ico.label()}} 
   {{ form.ico(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.sort.label()}} 
   {{ form.sort(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.active.label()}} 
   {{ form.active(class="form-control") }} 
</div>



<div class="form-group">
  {{ form.pid.label()}} 
   {{ form.pid(class="form-control") }} 
</div>





<div class="form-group">       
<input type="submit" value="提交" class="btn btn-primary btn-lg btn-block">
</div>


</form>

         

{%endblock%}
  