{{ckeditor.load()}}
<!-- 加载本地路径错误 -->
{#ckeditor.load(custom_url=url_for('static',filename='ckeditor/ckeditor.js'))#}

{%extends 'superadmin/bt_base.html'%}

{% block title %}商品分类{% endblock %}
{% block body %}

<form role="form" action="{{url_for('superadmin.add_base_product_post')}}" enctype="multipart/form-data" method="post">

{{ form.hidden_tag() }}

<div class="form-group">
  {{ form.title.label()}} 
   {{ form.title(class="form-control") }} 
</div>
<div id="word"></div>
<div class="form-group">
  {{ form.original_price.label()}} 
   {{ form.original_price(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.special_price.label()}} 
   {{ form.special_price(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.ean.label()}} 
   {{ form.ean(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.unit.label()}} 
   {{ form.unit(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.category_id.label()}} 
   {{ form.category_id(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.attach_key.label()}} 
   {{ form.attach_key(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.attach_value.label()}} 
   {{ form.attach_value(class="form-control") }} 
</div>

<div class="form-group">
  <label>展示图：</label>
  <input type="file" name="image"> <br>    
</div>

<div class="form-group">
  {{ form.note.label()}} 
   {{ form.note(class="form-control") }} 
    {{ ckeditor.config(name='note',width='100%') }}
</div>



<div class="form-group">       
<input type="submit" value="提交" class="btn btn-primary btn-lg btn-block">
</div>


</form>

     

<script type="text/javascript">
  $('#title').keyup(function(){
        var keywords = $(this).val();
        if (keywords=='') { $('#word').hide(); return };

        $.ajax({

            url: "{{url_for('store.get_base_product',_external=True)}}?wd="+keywords,
            dataType: 'json',
            jsonp: 'cb', //回调函数的参数名(键值)key
            // jsonpCallback: 'fun', //回调函数名(值) value
            beforeSend:function(){
                $('#word').append('<div>正在加载。。。</div>');
            },
            success:function(data){
                $('#word').empty().show();
                $.each(data.cb, function(){
                    $('#word').append('<div class="click_work">'+ this.id+'|'+this.title +'</div>');
                });
            },
            error:function(){
                $('#word').empty().show();
                $('#word').append('<div class="click_work">Fail "' + keywords + '"</div>');
            }
        })
    })
  $(document).on('click','.click_work',function(){
    $('#word').hide();
  });
</script>    
<style type="text/css">
    
    #word{
        position: absolute;
        z-index: 99;
        width: 100%;
        height: auto;
        background-color: white;
        border: black solid 1px;
        display: none;
        line-height: 40px;
    }

</style>
{%endblock%}
  