{{ckeditor.load()}}
<!-- 加载本地路径错误 -->
{#ckeditor.load(custom_url=url_for('static',filename='ckeditor/ckeditor.js'))#}

{%extends 'superadmin/bt_base.html'%}

{% block title %}商品分类{% endblock %}
{% block body %}

<form role="form" action="{{url_for('superadmin.add_base_product_post')}}" enctype="multipart/form-data" method="post">

{{ form.hidden_tag() }}

<div class="form-group">
  {{ form.title.label()}} 
   {{ form.title(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.original_price.label()}} 
   {{ form.original_price(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.special_price.label()}} 
   {{ form.special_price(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.ean.label()}} 
   {{ form.ean(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.unit.label()}} 
   {{ form.unit(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.category_id.label()}} 
   {{ form.category_id(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.attach_key.label()}} 
   {{ form.attach_key(class="form-control") }} 
</div>

<div class="form-group">
  {{ form.attach_value.label()}} 
   {{ form.attach_value(class="form-control") }} 
</div>

<div class="form-group">
  <label>展示图：</label>
  <input type="file" name="image"> <br>    
</div>

<div class="form-group">
  {{ form.note.label()}} 
   {{ form.note(class="form-control") }} 
    {{ ckeditor.config(name='note',width='100%') }}
</div>



<div class="form-group">       
<input type="submit" value="提交" class="btn btn-primary btn-lg btn-block">
</div>


</form>

         

{%endblock%}
  