<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>version</title>
</head>
<body>
{%for message in get_flashed_messages()%}
        
<div class="ui-tooltips ui-tooltips-guide">
    <div class="ui-tooltips-cnt ui-border-b">
        <i></i>
        {{message}}
    </div>
</div>
{%endfor%}
<a href="{{url_for('superadmin.add_version')}}">添加版本</a>
	version: <br>	
	{%for i in version%}
	{{i.number}},{{i.title}},{{i.summary}},{{i.created_at}},{{i.context}}<br>
	{%endfor%}
</body>
</html>