<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>add_user_address</title>
</head>
<body>
{%for message in get_flashed_messages()%}
        
<div class="ui-tooltips ui-tooltips-guide">
    <div class="ui-tooltips-cnt ui-border-b">
        <i></i>
        {{message}}
    </div>
</div>
{%endfor%}

	add_user_address
	<form method="post">
		{{ form.hidden_tag() }}
         {{ form.name.label }} {{ form.name() }} <br>	
         {{ form.phone.label }} {{ form.phone() }}<br>	
         {{ form.address.label }} {{ form.address() }}<br>	
         <input type="submit" value="提交">
	</form>
</body>
</html>