<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.2.4.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/common.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.9.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery.fly.min.js')}}"></script>
</head>
<body>
	<!-- <div class="main"> -->
		{% block body %}{% endblock %}
	<!-- </div> -->

	<div style="display: none;">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273659355'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1273659355%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>
</body>

</html>