<!DOCTYPE html>
<html>
<head>
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body>

<div class="container">
<div class="row">
    &nbsp;
</div>

    
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            <h1 class="panel-title">
                温馨提示
            </h1>
        </div>
        <div class="panel-body">
            <h1>ps：您未关注过店铺，请您到附近的小卖部关注我们吧。</h1>
            <h1>如您是商家，<a href="{{url_for('store.create_store')}}">请点击这里</a>免费申请云店铺。 </h1>   
        </div>
    </div>

</div>





</body>
</html>