<!DOCTYPE html>
<html>
<head>
    <title>主页</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap4/css/bootstrap.css')}}" />
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='bootstrap4/js/bootstrap.min.js')}}"></script>
</head>
<body>
<div class="alert alert-danger"><i class="icon-feedback"></i>错误！请进行一些更改。</div>


<div class="panel panel-default">
    <div class="panel-heading">
        不带 title 的面板标题
    </div>
    <div class="panel-body">
        面板内容
    </div>
</div>
 
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            带有 title 的面板标题
        </h3>
    </div>
    <div class="panel-body">
        面板内容
    </div>
</div>


</body>
</html>