{%extends 'store/base.html'%}
{% block title %}商品列表{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{url_for('static',filename='css/public.css')}}" />



<script type="text/javascript" src="{{url_for('static',filename='js/jquery.fly.min.js')}}"></script>

<script type="text/javascript">
function addFly(event) {
    var offset = $('#amount').offset();
    var flyer = $('<img class="u-flyer" src="/static/images/add_icon.png"/>');
    flyer.fly({
        start: {
            left: event.pageX-40,
            top: event.pageY-20
        },
        end: {
            left: offset.left+20,
            top: offset.top-30,
            width: 10,
            height: 10,
        },
        onEnd: function() { this.destory()}
    });
}
</script>



<div class="goodsListTitle">
    <div class="nametit">{{seller[0]}}</div>
    <div class="jiage">{{seller[1]}} </div>
</div>

<section class="g-flexview">
	<section class="g-scrollview">

        <div class="m-scrolltab" data-ydui-scrolltab>
            <div class="scrolltab-nav">

            	{%for v in goods%}
                <a href="javascript:;" class="scrolltab-item">
                    <div class="scrolltab-icon"></div>
                    <div class="scrolltab-title">{{v[1][0][0][1].name}}</div>
                </a>
                {%endfor%}


                
            </div>

            <div class="scrolltab-content">
            	{%for v in goods%}
                <div class="scrolltab-content-item">
                    <strong class="scrolltab-content-title">{{v[1][0][0][1].name}}</strong>
                    <div>
                    	
                    	<section class="g-scrollview">

					        <article class="m-list list-theme4">
                    			{%for  j in v[1]%}
                    		
					            <a href="javascript:;" class="list-item">
					                <div class="list-img">
					                    <img src="{{url_for('public.get_image',filename=j[0][0].main_photo)}}">
					                </div>
					                <div class="list-mes">
					                    <h3 class="list-title">{{j[0][0].title}}</h3>
					                    <div class="list-mes-item">
					                        <div>
					                            <span class="list-price"><em>¥</em>{{j[0][0].original_price}}</span>
					                            <!-- <span class="list-price-price"></span> -->
					                        </div>
					                        <div>
					                        <span class="main_add"></span>
					                        <input type="hidden" name="goods_id" id="goods_id" value="{{j[0][0].id}}"></div>

					                    </div>
					                </div>
					            </a>

                    			{%endfor%}
					        </article>
					    </section>
                    </div>
                </div>
                {%endfor%}
                
            </div>
        </div>

    </section>







</section>



    <footer class="m-tabbar tabbar-fixed operationBox">
	    <div class="operation">
        <a class="ShopDetailsLink  goShoppingcartBtn" href="{{url_for('user.my_buys_car')}}"><span id="amount"></span></a>
        <img src="/static/images/add_icon.png" style="display:none;">
        <input class="goBuyBtn" type="button" value="结算" onclick="javascript:window.location.href='{{url_for('public.submit_order')}}'">
    </div>
	</footer>


<script>

	$(function() {

		//价格选择
		$(".jiantou li").click(function() {
			$(this).addClass('caret-on').siblings().removeClass('caret-on');

		});
			//加
		$(".add").click(function() {
			

			var t = $(this).parent().find('input[class*=count]');
			var goods_id = $(this).parent().find('input[id*=goods_id]');
			t.val(parseInt(t.val()) + 1);

			$.ajax({
				 type: "GET",
				 url: "/add_car/",
				 data:{'id':goods_id.val()},
				 dataType: "json",
				 success: function(data){

				 }
			});
		});
			//减
		$(".minus").click(function() {
			var t = $(this).parent().find('input[class*=count]');
			
			var goods_id = $(this).parent().find('input[id*=goods_id]');
			if(parseInt(t.val()) <= 1) {
				t.val(0);
				if(parseInt(t.val()) == 0) {
					$.ajax({
						 type: "GET",
						 url: "/delete_car/",
						 data:{'id':goods_id.val()},
						 dataType: "json",
						 success: function(data){
						 	
						 }
					});

				}
				
				return;
			}else{
				$.ajax({
					 type: "GET",
					 url: "/sub_car/",
					 data:{'id':goods_id.val()},
					 dataType: "json",
					 success: function(data){
					 	
					 }
				});

			}
			t.val(parseInt(t.val()) - 1);

		});

	});

	// 商品展示添加到购物车
	$(".main_add").click(function(){

	 	addFly(event);

		var t = $(this).parent().find('input[id*=goods_id]');
		$.ajax({
			 type: "GET",
			 url: "/add_car/",
			 data:{'id':t.val()},
			 dataType: "json",
			 success: function(data){

			 }
		});
	  
	});
	document.getElementById('')
</script>
<style type="text/css">
.scrolltab-nav{z-index: 0;}
</style>
{% endblock %}
