{%extends 'public/base.html'%}
{% block title %}产品列表{% endblock %}
{% block body %}

<div class="goodsListTitle">
	<div class="nametit">{{seller[0]}}</div>
	<div class="jiage">{{seller[1]}} </div>
</div>

<div class="goodsListBox border_lr">

	<ul class="goodsListLeft">
	<!-- 挺绕的循环结构v[1][0][4]做了字典排序 -->
	{%for v in goods%}
		<li><a class="GLindex">{{v[1][0][0][1].name}}</a></li>
	{%endfor%}

						
	</ul>

	<!--单个模板-->
	<div class="goodsListRight">

		{%for v in goods%}
		<ul class="goodsList">
			{%for  j in v[1]%}
			<li>

				<!-- <a href="{{url_for('public.show_goods',id=j[0][0].id)}}"> -->
				<a href="#">
					<div class="goodimg">
						<img src="{{url_for('public.get_image',filename=j[0][0].main_photo)}}">
					</div>
				</a>
				
				<div class="jieshao">
					<!-- <a href="{{url_for('public.show_goods',id=j[0][0].id)}}"> -->
					<a href="#">
						<div class="sku">{{j[0][0].title}}</div>
					</a>

					<div class="attr">
						<div class="money price">
							<span class="intPrice">售价:{{j[0][0].original_price}}</span>
							<div class="attr_ope">
								<span class='main_add'></span>
								<input type="hidden" name="goods_id" id="goods_id" value="{{j[0][0].id}}">
							</div>
						</div>
					</div>
				</div>
				
			</li>

			{%endfor%}

			
		</ul>
		{%endfor%}
		
	</div>
	<!--单个模板 end-->
</div>

<div class="clear"></div>
<img src="/static/images/add_icon.png" style="display:none;">
<!--底部-->
<div class="operationBox">
	<div class="operation">
		<a class="ShopDetailsLink  goShoppingcartBtn" href="javascript:;"><span id="amount"></span></a>
		<!-- <div class="moneybox">￥178 </div> -->
		<input class="goBuyBtn" type="button" value="去结算" onclick="javascript:window.location.href='{{url_for('public.submit_order')}}'">
	</div>
</div>


<!--加入购物车-->
<div class="layerBox GWC">
	<div class="mackbg"></div>
	<div class="cartbox">
		<div class="goShoppingcartlist">
			<div class="baoliao_title"><span>购物车</span>
			<!-- <em><a href="#"><img src="{{url_for('static',filename='images/del.png')}}">清空购物车</a></em> -->
			</div>
			<ul class="cartlist">
			{%for i in buys_car%}
				<li>
					<h3>{{i[1].title}}</h3>
					<div class="right_box">
						<span class="danjia">￥{{i[1].original_price}}</span>
						<span class="control-num">
						<span class="minus"></span>
						<input type="text" class="count" value="{{i[0].count}}">
						<input type="hidden" name="goods_id" id="goods_id" value="{{i[1].id}}">
						<span class="add"></span>
						</span>
					</div>
				</li>
			{%endfor%}

				
			</ul>
		</div>

	</div>
</div>

<script type="text/javascript">
function addFly(event) {
	alert();
    var offset = $('#amount').offset(), flyer = $('<img class="u-flyer" src="/static/images/add_icon.png"/>');
    flyer.fly({
        start: {
            left: event.pageX-40,
            top: event.pageY-20
        },
        end: {
            left: offset.left,
            top: offset.top,
            width: 24,
            height: 24,
        }
    });
}
</script>
<script>

	$(function() {

		//价格选择
		$(".jiantou li").click(function() {
			$(this).addClass('caret-on').siblings().removeClass('caret-on');

		});
			//加
		$(".add").click(function() {
			addFly(event);

			var t = $(this).parent().find('input[class*=count]');
			var goods_id = $(this).parent().find('input[id*=goods_id]');
			t.val(parseInt(t.val()) + 1);

			$.ajax({
				 type: "GET",
				 url: "/add_car/",
				 data:{'id':goods_id.val()},
				 dataType: "json",
				 success: function(data){
				 	
				 }
			});
		});
			//减
		$(".minus").click(function() {
			var t = $(this).parent().find('input[class*=count]');
			
			var goods_id = $(this).parent().find('input[id*=goods_id]');
			if(parseInt(t.val()) <= 1) {
				t.val(0);
				if(parseInt(t.val()) == 0) {
					$.ajax({
						 type: "GET",
						 url: "/delete_car/",
						 data:{'id':goods_id.val()},
						 dataType: "json",
						 success: function(data){
						 	
						 }
					});

				}
				
				return;
			}else{
				$.ajax({
					 type: "GET",
					 url: "/sub_car/",
					 data:{'id':goods_id.val()},
					 dataType: "json",
					 success: function(data){
					 	
					 }
				});

			}
			t.val(parseInt(t.val()) - 1);

		});

	});

	// 商品展示添加到购物车
	$(".main_add").click(function(){
		var t = $(this).parent().find('input[id*=goods_id]');
		$.ajax({
			 type: "GET",
			 url: "/add_car/",
			 data:{'id':t.val()},
			 dataType: "json",
			 success: function(data){
			 	// alert('您已添加 '+data.title+' 至购物车。\n销售火爆，购物车信息将在刷新后更新。');
			 }
		});
	  
	});
</script>


{% endblock %}
