{%extends 'store/base.html'%}
{% block title %}订单确认{% endblock %}
{% block body %}

<form action="{{url_for('public.confirm_order')}}" method="post" id="form">

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<input type="hidden" name="note" >

<!-- <div class="confirm-order"> -->
	<div class="top-adrees">
	{%if user_address%}
		<input type="hidden" name="user_address" value="{{user_address.id}}" >
		<div class="fl">
			<p><i class='icon-ucenter-outline'></i><span>{{user_address.name}}</span><i class="icon-phone2"></i>{{user_address.phone}}</p>
			<div class="adr"><i class="icon-location"></i> {{user_address.address}} </div>
		</div>
	{%else%}

	<div class="fl">
			<h1><a href="{{url_for('user.add_user_address')}}" style="color:#000000;">添加收货地址</a></p>
		</div>
	
	{%endif%}
	<!-- 这里收货人信息添加更改等 -->
	</div>

    <section class="g-scrollview" >
    <div class="m-cell demo-small-pitch">
    
        <div class="cell-item">
            <div class="cell-left">{{buys_car[0][8]}}</div>
            <div class="cell-right">{{buys_car[0][9]}}</div>
        </div>
        <div class="cell-item">
            <div class="cell-left">{{buys_car[0][10]}}</div>
            <div class="cell-right"></div>
        </div>

        <div class="cell-item">
            <div class="cell-left">配送方式</div>
            <div class="cell-right">暂只支持货到付款</div>
        </div>

        <div class="cell-item">
            <div class="cell-left">配送费(满{{buys_car[0][6]}}元免配送费)</div>
            <div class="cell-right">
            {%if count_price < buys_car[0][6]%}
                {{buys_car[0][5]}}
            {%else%}
                0元
            {%endif%}</div>
        </div>

    </div>

    </section>



	<section class="g-scrollview" style='margin-bottom: 50px;'>

        <article class="m-list list-theme4">
            {%for i in buys_car%}
            <a href="javascript:;" class="list-item">
                <div class="list-img">
                    <img src="{{url_for('public.get_image',filename=i[7])}}">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">{{i[3]}}</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-price"><em>¥</em>{{i[4]}}</span>
                            <!-- <span class="list-price-price"></span> -->
                        </div>
                        <div>x{{i[1]}}</div>
                    </div>
                </div>
            </a>

            {%endfor%}

            
            
        </article>

    </section>

    

    
<!-- </div> -->

<footer class="m-tabbar tabbar-fixed operationBox">
    <div class="operation">
        <div class="totalprice">共计：<b>￥
        {%if count_price < buys_car[0][6]%}

        {{count_price+buys_car[0][5]}}
        {%else%}
        {{count_price}}
        {%endif%}</b>(含配送费)</div>
        {%if not user_address%}
            <a class="goBuyBtn" href="{{url_for('user.add_user_address')}}">添加地址<i></i></a>
        {%endif%}
        <a class="goBuyBtn" href="#" onclick="submit_form()">提交订单<i></i></a>
    </div>

</footer>



</form>
<script>
	function submit_form(){
		document.getElementById('form').submit();
	}
</script>
<style type="text/css">
.m-cell{margin-bottom: .10rem;}
.cell-left{white-space:normal;}
.g-scrollview:after {
    display: block;
    height: 0.12rem;
}
.m-tabbar{padding: 0}
.operationBox {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1111;
}
.tabbar-fixed{
    background: #333;
}
.operation {
    margin-left: 12px;
    width: 100%;
}
.totalprice {
    float: left;
    line-height: 50px;
    font-size: 18px;
}
.goBuyBtn {
    -webkit-appearance: none;
    border-radius: 0px;
    cursor: pointer;
    float: right;
    background: #eb0672;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    padding: 0 5%;
    border: none;
}

.top-adrees {
    padding: 15px;
    /*padding-top: 21px;*/
    margin-bottom: 5px;
    color: #333;
    background: #fff url({{url_for('static',filename='images/border.png')}}) repeat-x top;
    overflow: hidden;
}
.fl {
    float: left;
}
.top-adrees p {
    font-size: 16px;
    line-height: 30px;
}
.adr {
    font-size: 16px;
    line-height: 35px;
}
.adr img {
    vertical-align: top;
    width: 30px;
    float: left;
}
.top-adrees p span {
    margin: 0px 35px 0 3px;
}
i{font-size: 22px;color: #0fbce6}
.list-price-self{
    padding-left: .06rem;
    font-size: .2rem;
    margin-left: .02rem;
    color: #8C8C8C;
}
</style>

{% endblock %}

		