{%extends 'public/base.html'%}
{% block title %}订单确认{% endblock %}
{% block body %}

<form action="{{url_for('public.confirm_order')}}" method="post" id="form">

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<input type="hidden" name="note" >

<div class="confirm-order">
	<div class="top-adrees">
	{%if user_address%}
		<input type="hidden" name="user_address" value="{{user_address.id}}" >
		<div class="fl">
			<p><span>{{user_address.name}}</span>{{user_address.phone}}</p>
			<div class="adr"><img src="{{url_for('static',filename='images/adrees.png')}}" /> {{user_address.address}} </div>
		</div>
	{%else%}

	<div class="fl">
			<p ><h1><a href="{{url_for('user.add_user_address')}}" style="color:#000000;">添加收货地址</a></h1></p>
		</div>


	
	{%endif%}
	<!-- 这里收货人信息添加更改等 -->
	</div>
	<ul class="order-list">
		{%for i in buys_car%}
		<li>
			<div class="choice">
				<input type="checkbox" checked="checked">
				<!-- <span class="on"></span>  -->
				</div>
			<div class="prduct">
				<div class="picbox">
				<img src="{{url_for('public.get_image',filename=i[7])}}">
				</div>
				<dl>
					<dt>{{i[3]}}</dt>
					<dd>数量：{{i[1]}}</dd>
					<dd>单价￥{{i[4]}}</dd>
				</dl>

			</div>
		</li>
		{%endfor%}
		
	</ul>
</div>
<!--底部-->
<div class="operationBox">
<div style="background-color:#cccccc;color:black;padding-left: 12px;">
	{%if count_price < buys_car[0][6]%}
	<h3>暂只支持货到付款,未满{{buys_car[0][6]}}元，加{{buys_car[0][5]}}元配送费。</h3>
	{%else%}
	<h3>暂只支持货到付款,已满{{buys_car[0][6]}}元，免配送费。</h3>
	{%endif%}
</div>
	<div class="operation">
		<div class="totalprice">合计：<b>￥

		{%if count_price < buys_car[0][6]%}

		{{count_price+buys_car[0][5]}}
		{%else%}
		{{count_price}}
		{%endif%}

		</b></div>
		<a class="goBuyBtn" href="#" onclick="submit_form()">提交订单</a>
	</div>
</div>

</form>
<script>
	//选择 
	$('.choice>span').click(function() {
		if($(this).hasClass('on')) {
			$(this).removeClass('on').prev().attr('checked', false);
		} else {
			$(this).addClass('on').prev().attr('checked', true);
		}
		
	});
	function submit_form(){
		document.getElementById('form').submit();
	}
</script>


{% endblock %}

		