{%extends 'store/base.html'%}
{% block title %} 添加收货地址 {%endblock%}
{% block body %} 

<form action="" method="post">

{{ form.hidden_tag() }}

<div class="m-cell">
    <div class="cell-item">
        <div class="cell-right">
        {{ form.name(class='cell-input',placeholder="收货人姓名") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.phone(class='cell-input',placeholder="收货人电话") }} 
        </div>
    </div>
    <div class="cell-item">
        <div class="cell-right">
        {{ form.addess(class='cell-input',placeholder="收货地址") }} 
        </div>
    </div>
    

    
</div>
    
  <input type="submit" class="btn-block btn-warning" value="添加">
   

</form>


{%endblock%}


</body>
</html>
