{%extends 'store/base.html'%}
{% block title %}我的收货地址{% endblock %}
{% block body %}



    <section class="g-scrollview">

        <article class="m-list list-theme4" style="margin-bottom:60px;">

            {%for i in address%}
            <a href="javascript:;" class="list-item">
                
                <div class="list-mes">
                    <h3 class="list-title">{{i.name}}[{{i.phone}}]{%if i.state%}(默认){%endif%}</h3>
                    <div class="list-mes-item">
                        <div>
                            <span class="list-title">{{i.address}}</span>
                        </div>
                        
                    </div>
                </div>
            </a>

            {%endfor%}

            
            
        </article>

    </section>

    
{% endblock %}
