{%extends 'store/base.html'%}
{% block title %}订单列表{% endblock %}
{% block body %}

<style>
	li>a{color: #010101;}
	.wddd-total-tit>a{color: #010101;}
</style>

<div class="qiehuan-con">

{%for message in get_flashed_messages()%}
        
<div class="ui-tooltips ui-tooltips-guide">
    <div class="ui-tooltips-cnt ui-border-b">
        <i></i>
        {{message}}
    </div>
</div>
{%endfor%}

	
	    
	    
	<div class="m-cell">
		{%for i in order%}
	    <a class="cell-item" href="{{url_for('user.show_my_order',id=i[0])}}">
	        <div class="cell-left">时间:{{i[2].strftime('%m-%d %H:%M')}},
	        <!-- 共{{i[5]}}件 -->总价:{{i[3]}}元</div>
	        <div class="cell-right cell-arrow">
	        {%if i.order_state==0%}待送货{%endif%} 
			{%if i.order_state==1%}已送货{%endif%} 
			{%if i.order_state==2%}已完成{%endif%} 
			{%if i.order_state==3%}已关闭{%endif%} 
			</div>
	    </a>
		    
	    {%endfor%}
	</div>



	
</div>

{% endblock %}
